.AppLogin {
  text-align: center;
}

.App-logoLogin {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logoLogin {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-headerLogin {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.bodyLogin {
  margin: 0;
  padding: 0;
  background: url(./image/book.jpg);
  height: 100vh;
  background-position: "center";
  background-repeat: "no-repeat";
  background-size: cover;
  text-align: center;
  font-family: sans-serif;
}

/* @media only screen and (min-width: 500px) {
  .body_card {
    width: 20rem;
  }
} */

.login-boxLogin {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.login-boxLogin h1 {
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textboxLogin {
  width: 320px;
  overflow: hidden;
  font-size: 40px;
  padding: 8px 0;
  margin: 10px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #4caf50;
}

.textboxLogin i {
  width: 50px;
  float: left;
  text-align: center;
  font-size: 25px;
}

.textboxLogin input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80px;
  float: left;
  margin: -20 10px;
  width: 250px;
}

.btnLogin {
  width: 140px;
  background: none;
  border: 2px solid #4caf50;
  padding: 5px;
  cursor: pointer;
  margin: 50 50;
  color: white;
  margin-left: 89px;
}

.btnLogin:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btnLogin :hover {
  background-color: #003300;
  color: white;
}

.body_cardLogin {
  width: 20rem;
  margin-top: 700px;
  margin-left: 550px;
  height: 25rem;
  background-image: url(./image/book.jpg);
}
.emailErrorLogin {
  font-size: small;
  color: red;
  text-align: left;
  margin-left: 18px;
  line-height: 5px;
  margin-bottom: 12px;
}
.passwordErrorLogin {
  font-size: small;
  color: red;
  text-align: left;
  margin-left: 18px;
  line-height: 5px;
  margin-bottom: 12px;
}
